:root {
	--green1: #dbf0e1;
	--green2: #e2f8d5;
	--green3: #bad9ba;
	--cyan1: #b6f0e7;
	--cyan2: #b9d8cb;
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

header {
	width: 100vw;
	height: min-content;
	min-height: 35px;
	padding: 0.35rem;
	background-color: var(--green1);
	box-shadow: 0 0 1.25rem 0.5rem var(--cyan2);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.new-note-btn {
	background-image: url(../res/new-document.png);
	background-size: cover;
	width: 2rem;
	height: 2rem;

	background-color: var(--cyan1);
	border-radius: 0.55rem;
	border: none;
	box-shadow: 0 0 0.5rem 0rem hsl(0, 0%, 30%);
	transition: box-shadow 0.15s, background-color 0.15s;
}
.new-note-btn:hover {
	background-color: var(--cyan2);
	box-shadow: 0 0 0.5rem 0rem hsl(0, 0%, 5%);
	cursor: pointer;
}
.new-note-btn:active {
	background-color: white;
	box-shadow: 0 0 0.5rem 0rem white;
}

.counters-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.counter-all-p {
}

.counter-now-p {
}

main {
	flex-grow: 1;
	width: 100vw;
	min-height: 360px;
	overflow: hidden;
	padding: 0.5rem;
	position: relative;
}

.note {
	min-width: 9rem;
	min-height: 7rem;
	padding: 0.45rem;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 1px solid hsl(0, 0%, 80%);
	background-color: white;

	resize: both;
	overflow: auto;

	display: grid;

	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1.25rem;

	column-gap: 0.5rem;
	row-gap: 0.75rem;

	transition: background-color 0.25s;
}

.note.active {
	background-color: hsl(172, 100%, 95%);
}

.title-h3 {
	grid-row-start: 1;
	grid-column-start: 1;

	grid-row-end: 2;
	grid-column-end: 2;
}

.close-btn {
	border: none;
	border-radius: 0.25rem;
	background-color: transparent;
	background-image: url(../res/close.png);
	background-size: cover;
	width: 100%;
	aspect-ratio: 1;
	position: static;

	grid-row-start: 1;
	grid-column-start: 2;

	grid-row-end: 2;
	grid-column-end: 3;

	transition: background-color 0.25s;
}

.textfield-p {
	min-height: 2rem;
	width: 100%;

	grid-row-start: 2;
	grid-column-start: 1;

	grid-row-end: 3;
	grid-column-end: 3;
}

.close-btn:hover {
	background-color: hsl(2, 100%, 90%);
	cursor: pointer;
}
